body,html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
}

body{
    background:#EFEFEF;
}

.controller{
    font-size:24px;
}
.tile{
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-size:cover;
}

.popup{
    opacity:0;
    z-index:10000;
    position:absolute;
    left:50%;
    top:-100%;
    height:auto;
    transition:top 0.5s, opacity 0.3s;
}
.popup.show{
    opacity:1;
    top:0;
}

.popup .container{
    position:relative;
    left:-50%;
}

#map{
    width:100%;
    float:left;
    position:relative;
}

.grass{
    position:relative;
    background-image:url(imgs/grass.png);
    display:inline-block;
    margin-bottom:-11.5%
}

.object{
    position:absolute;
    top:-2%;
    background-size:40% 40%;
    background-position: center;
    background-repeat:no-repeat;
}
.food{
    background-image:url(imgs/food.png);
}

.poison{
    background-image:url(imgs/poison.png);
}

.bot{
    position:absolute;
    background-image:url(imgs/bot.png);
    background-size:contain;
    -webkit-transition: top 0.3s, right 0.3; /* For Safari 3.1 to 6.0 */
    transition: top 0.3s, right 0.3;
    margin-top:-2%;
}

.bot.dir0-1{
  background-image:url(imgs/bot_left.png);
}

.bot.dir-10{
  background-image:url(imgs/bot_back.png);
}
.bot.dir01{
    background-image:url(imgs/bot_right.png);
}

td,table,tr{
 margin:0;
 padding:0
}

.block{
    background:white;
    border:1px solid #DDD;
    box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}

#game{
    height:auto;
    width:auto;
 overflow:hidden;
 position:absolute;
 top:0;
 left:10px;
 right:310px;
 bottom:30px;
 padding:0;
}

.controllers{
    position:absolute;
    width:300px;
    right:0;
    bottom:0;
    top:0;
}

.brick{
    float:left;
    width:3.3333%;
    height:6.666667%;
}

.index1{
background:#EFEFEF;
}

#catcher{
    position:absolute;
    bottom:0;
    left:0;
    width:16.666666665%;
}

#object{
    position:absolute;
    bottom:0;
    left:0;
}