$def with(settings)
$:render.settings(settings,True)

$var title: BeerAgent
$var cssfiles: static/tiles.css
$var jsfiles: static/beerlands.js

        <div class="block" id="game">
            $for i in range(15*30):
                <div class="brick index$(loop.index0 % 2 + (loop.index0/30) % 2)"></div>
            <img id="catcher" src="/static/imgs/beercatcher.png" alt=""/>
            <div id="objectholder">
                <div id="object">
                    <img class="big" src="/static/imgs/tobig.png" alt="">
                    <img class="small" src="/static/imgs/poison.png" alt="">
                </div>
            </div>
        </div>
       <div class="controllers block">
        <center>
            <p>

            <div class="btn-group controller">
                <button type="button" class="btn btn-default" data-type="begin"><i class="fa fa-fast-backward"></i>
                </button>
                <button type="button" class="btn btn-default" data-type="back"><i class="fa fa-backward"></i>
                </button>
                <button type="button" class="btn btn-default" data-type="play"><i id="play" class="fa fa-play"></i>
                </button>
                <button type="button" class="btn btn-default" data-type="forward"><i class="fa fa-forward"></i>
                </button>
                <button type="button" class="btn btn-default" data-type="end"><i class="fa fa-fast-forward"></i>
                </button>
            </div>
            </p>
            <p id="stats"></p>

            <h3>
                <span id="movedone"></span>
            </h3>

            <h3>
                    <span class="text-success"><i class="fa fa-check-circle"></i>: <span
                            id="success">0</span></span>&nbsp;&nbsp;
                    <span class="text-info"><i class="fa fa-question-circle"></i>: <span
                            id="miss">0</span></span>
                    <span class="text-danger"><i class="fa fa-times-circle"></i>: <span
                            id="fail">0</span></span>
            </h3>

            <p class="form-group form-inline">
                <label>Playback</label>
                <select id="playback" class="form-control">
                    <option value="1">1x</option>
                    <option value="2">2x</option>
                    <option value="3">3x</option>
                    <option value="4">4x</option>
                    <option value="5">5x</option>
                </select>
            </p>
            <h3>Individual Fittness: <span id="fitness"></span></h3>
            <h3>

              <span class="text-success"><i class="fa fa-check-circle"></i>: <span
                      id="success-total">0</span></span>&nbsp;&nbsp;
                <span class="text-info"><i class="fa fa-question-circle"></i>: <span
                            id="miss-total">0</span></span>
                <span class="text-danger"><i class="fa fa-times-circle"></i>: <span
                            id="fail-total">0</span></span>
            </h3>
        </center>
        <center>
            <button class="btn btn-primary btn-lg showpopup" data-target="settings"><i class="fa fa-gear"></i></button>
            <button class="btn btn-primary btn-lg chart-toggle" data-target="chartHolder"><i class="fa fa-signal"></i></button>
            <button class="btn btn-primary btn-lg showpopup" data-target="progress"><i class="fa fa-spinner"></i></button>
            <button class="btn btn-primary btn-lg showpopup" data-target="network"><i class="fa fa-eye"></i></button>
        </center>
           <br>
        <center>
            <button class="restart-btn btn btn-primary btn-lg showpopup" data-target="settings">Run again</button>
            <a href="/" class="btn btn-primary btn-lg showpopup" data-target="settings">Main Menu</a>
        </center>
    </div>
    <script>
        window.game = "flatland";
    </script>

</div>
