$def with(ea, settings)
$:render.settings(settings,True)
$:render.chart(ea)
$:render.ann(ea)

$var title: Flatland Agent
$var cssfiles: static/tiles.css
$var jsfiles: static/flatland.js

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8">
            <h1>Flatland</h1>

            <div id="map">

            </div>
        </div>

        <div class="col-xs-4">
            <center>
                <p>

                <div class="btn-group controller">
                    <button type="button" class="btn btn-default" data-type="begin"><i class="fa fa-fast-backward"></i>
                    </button>
                    <button type="button" class="btn btn-default" data-type="back"><i class="fa fa-backward"></i>
                    </button>
                    <button type="button" class="btn btn-default" data-type="play"><i id="play" class="fa fa-play"></i>
                    </button>
                    <button type="button" class="btn btn-default" data-type="forward"><i class="fa fa-forward"></i>
                    </button>
                    <button type="button" class="btn btn-default" data-type="end"><i class="fa fa-fast-forward"></i>
                    </button>
                </div>
                </p>
                <h3>
                    Step:<span id="time-counter">0</span>
                </h3>

                <h3>
                    <span id="movedone"></span>
                </h3>

                <h3>
                    <span class="text-success"><i class="fa fa-check-circle"></i>: <span
                            id="food-counter">0</span></span>&nbsp;&nbsp;
                    <span class="text-danger"><i class="fa fa-times-circle"></i>: <span
                            id="poison-counter">0</span></span>
                </h3>

                <p class="form-group form-inline">
                    <label>Playback</label>
                    <select id="playback" class="form-control">
                        <option value="1">1x</option>
                        <option value="2">2x</option>
                        <option value="3">3x</option>
                        <option value="4">4x</option>
                        <option value="5">5x</option>
                    </select>
                </p>
            </center>
            <div class="list-group" id="maps">
                $for map in ea.best_maps:
                <a href="#" class="list-group-item" id="map-$loop.index0">
                    <h4 class="list-group-item-heading">Map $loop.index</h4>

                    <p class="list-group-item-text">Best result food:$map.food_gathered poison:$map.poisoned</p>
                </a>
            </div>
            <center>
                <h3>Individual Fittness: $ea.best_individual.fitness</h3>
            </center>
            <center>
                <button class="btn btn-primary btn-lg showpopup" data-target="settings"><i class="fa fa-gear"></i></button>
                <button class="btn btn-primary btn-lg chart-toggle" data-target="chartHolder"><i class="fa fa-signal"></i></button>
                <button class="btn btn-primary btn-lg showpopup" data-target="historyPopup"><i class="fa fa-book"></i></button>
                <button class="btn btn-primary btn-lg showpopup" data-target="annHolder"><i class="fa fa-eye"></i></button>
            </center>
        </div>
        <div id="historyPopup" class="popup">
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Map #</th>
                            <th>Food</th>
                            <th>Poison</th>
                            $for h in ea.best_maps[0].history:
                                <th>$loop.index</th>
                        </tr>
                    </thead>
                $for map in ea.maps:
                    <tr>
                        <td>Map $loop.index</td>
                        <td>$map.food_gathered </td>
                        <td>$map.poisoned </td>
                        $for h in map.history:
                            <td>$h</td>
                    </tr>
                </table>


            </div>
        </div>
    </div>
</div>
<script>
   window.maps = $:[flatland.map.tolist() for flatland in ea.best_maps];
   window.botPos = $:[list(flatland.agent_pos) for flatland in ea.best_maps];
   window.hists = $:[flatland.history for flatland in ea.best_maps];
   window.botDir = $:[flatland.agent_direction.val.tolist() for flatland in ea.best_maps];

</script>

