$def with(parentStrat,adultStrat,puzzle)
<!DOCTYPE html>
<html>
<head>
    <title>Evolution Algorithm</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css"/>
    <style>
        body,html{
        height:100%;
        background:#EDEDED;
        }
        .container{
        background:white;
        padding:30px;
        box-shadow: 0 0 10px #BBB;
        height:100%;
        }

    </style>
</head>
<body>
<div class="container">
    <h1>Evolution Algorithm</h1>
    <form role="form" method="get">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="childPool">Max generatios steps</label>
                <input type="text" class="form-control" id="maxgen" name="maxgen" placeholder="Max generations"
                       value="100">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="adultStrategy">Adult Selection</label>
                <select class="form-control" name="adultStrategy" id="adultStrategy">
                    $for i in adultStrat:
                    <option value="$loop.index">$i</option>
                </select>

                <p class="help-block">Set adult pool to be smaller than child pool to get over production mode</p>
            </div>
            <div class="form-group col-md-2">
                <label for="childPool">Child Pool Size</label>
                <input type="text" class="form-control" id="childPool" name="childPool" placeholder="Child Pool"
                       value="200">
            </div>
            <div class="form-group col-md-2 form-group">
                <label for="adultPool">Adult Pool</label>
                <input type="text" class="form-control" id="adultPool" name="adultPool" placeholder="Adult Pool"
                       value="200">
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="parentStrategy">Parent Selection Strategy</label>
                <select class="form-control" name="parentStrategy" id="parentStrategy">
                    $for i in parentStrat:
                    <option value="$loop.index">$i[0]</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="parentPool">Parent Pool Size</label>
                <input type="text" class="form-control" id="parentPool" name="parentPool" placeholder="Parent pool size"
                       value="100">
            </div>
        </div>
        <div class="row hide" id="5-parent-opts">
            <div class="col-md-4 form-group">
                <label for="tourK">Tournament K</label>
                <input class="form-control" id="tourK" name="tourK" placeholder="Group Size" value="5">
            </div>
            <div class="col-md-4 form-group">
                <label for="tourE">Tournament Random Pick (0-100%)</label>
                <input class="form-control" id="tourE" name="tourE" placeholder="Random Choice" value="10">
            </div>
        </div>
        <div class="row hide" id="4-parent-opts">
            <div class="col-md-4 form-group">
                <label for="tourK">Rank Min Value</label>
                <input class="form-control" id="rankMin" name="rankMin" placeholder="Min Value" value="0.5">
            </div>
            <div class="col-md-4 form-group">
                <label for="tourE">Rank Max Value</label>
                <input class="form-control" id="rankMax" name="rankMax" placeholder="Max Vlaue" value="1.5">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="puzzle">Select puzzle</label>
                <select class="form-control" name="puzzle" id="puzzle">
                    $for i in puzzle:
                    <option value="$loop.index">$i[0]</option>
                </select>
            </div>
        </div>
        <div class="row" id="1-puzzle-opts">
            <div class="col-md-3 form-group">
                <label for="bits">Number of bits</label>
                <input class="form-control" id="bits" name="bits" placeholder="Bits" value="40">
            </div>
            <div class="checkbox col-md-3">
                <br>
                <label>
                    <input type="checkbox" name="randomTarget"> Random Target Vector
                </label>
            </div>
        </div>
        <div class="row hide" id="2-puzzle-opts">
            <div class="col-md-3 form-group">
                <label for="tourE">Number of symbols</label>
                <input class="form-control" id="seqSymbols" name="seqSymbols" placeholder="Symbols" value="10">
            </div>
            <div class="checkbox col-md-3">
                <br>
                <label>
                    <input type="checkbox" name="seqLocal"> Local Sequence
                </label>
            </div>
        </div>

        <h3>Individual settings</h3>

        <div class="row">
            <div class="col-md-4 form-group">
                <label for="tourE">Mutation rate(0-100%)</label>
                <input class="form-control" id="mutation" name="mutation" placeholder="Mutation Rate" value="1">
            </div>
            <div class="col-md-4 form-group">
                <label for="tourE">Cross over rate(0-100%)</label>
                <input class="form-control" id="crossover" name="crossover" placeholder="Crossover Rate" value="20">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Run Evolution</button>
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="static/main.js"></script>

</div>
</body>
</html>